* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    animation-duration: 4s;
    animation-name: slide-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes slide-in {
    from {
        transform: none;
    }

    to {
        transform: translateX(100%);
    }
    0% {
    background: #FFEDF3;
    left: 0px; top: 0px;
  }
  25% {
    background: #ADEED9;
    left: 200px; top: 0px;
  }
  50% {
    background: #56DFCF;
    left: 200px; top: 200px;
  }
  75% {
    background: #0ABAB5;
    left: 0px; top: 200px;
  }
  100% {
    background: #000202;
    left: 0px; top: 0px;
  }
}